In [29]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as st
import os
import csv

In [46]:
#load csv
final_data = os.path.join("..", "Project_1_Team_7", "highest_paid_corr.csv")

final_df = pd.read_csv(final_data)
final_df

    Unnamed: 0 Unnamed: 1         0
0          3P%       OREB -0.880013
1         OREB        3P% -0.880013
2          REB        3P% -0.776230
3          3P%        REB -0.776230
4          FT%       OREB -0.722205
..         ...        ...       ...
895         PF         PF  1.000000
896         FP         FP  1.000000
897        DD2        DD2  1.000000
898        FTM        FTM  1.000000
899         RK         RK  1.000000

[900 rows x 3 columns]

In [39]:
#rename columns
renamed_df = final_df.rename(columns={"Unnamed: 0": "Stats1",
                                     "Unnamed: 1": "Stats2",
                                     "0": "Correlation"})
renamed_df

    Stats1 Stats2  Correlation
0      3P%   OREB    -0.880013
1     OREB    3P%    -0.880013
2      REB    3P%    -0.776230
3      3P%    REB    -0.776230
4      FT%   OREB    -0.722205
..     ...    ...          ...
895     PF     PF     1.000000
896     FP     FP     1.000000
897    DD2    DD2     1.000000
898    FTM    FTM     1.000000
899     RK     RK     1.000000

[900 rows x 3 columns]