In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import scipy.stats as st

In [32]:
#load csv
gsw = ("../ClippersScripts_ha/gsw_top_paid_player.csv")
lakers = ("../ClippersScripts_ha/lakers_top_paid_player.csv")
clippers = ("../ClippersScripts_ha/clippers_top_paid_player.csv")
kings = ("../ClippersScripts_ha/kings_top_paid_player.csv")

df1 = pd.read_csv(gsw)
df2 = pd.read_csv(lakers)
df3 = pd.read_csv(clippers)
df4 = pd.read_csv(kings)

vert_one_stack = pd.concat([df1, df2], axis=0)

vertical_stack.head()
# df.to_csv('df.csv')
# df = pd.concat([df1, df2, df3, df4], axis=1, join='inner')

# top_player = gsw_top_player.sort_values(by=['SALARY'], ascending=False)
# top_player

,YEAR,PLAYER,POSITION,TEAM,SALARY,AGE,GP,W,L,MIN,...,AST,TOV,STL,BLK,PF,FP,DD2,TD3,+/-,RK
0,2017,Stephen Curry,PG,Golden State Warriors,37457154,30,51,41,10,32.0,...,6.1,3.0,1.6,0.2,2.2,43.8,5,0,9.5,1
1,2018,Stephen Curry,PG,Golden State Warriors,37457154,31,69,52,17,33.8,...,5.2,2.8,1.3,0.4,2.4,43.8,3,0,10.0,1
2,2019,Stephen Curry,PG,Golden State Warriors,40231758,31,4,1,3,28.0,...,6.5,3.8,1.3,0.5,2.5,37.5,1,0,-8.0,1
0,2018,LeBron James,SF,Los Angeles Lakers,35654150,34,55,28,27,35.2,...,8.3,3.6,1.3,0.6,1.7,52.0,32,8,2.1,3
1,2019,LeBron James,SF,Los Angeles Lakers,37436858,35,38,32,6,34.9,...,10.7,3.7,1.3,0.5,1.8,52.7,29,9,9.6,7

In [41]:
vert_two_stack = pd.concat([vert_one_stack, df3], axis=0)
vert_two_stack

,YEAR,PLAYER,POSITION,TEAM,SALARY,AGE,GP,W,L,MIN,...,AST,TOV,STL,BLK,PF,FP,DD2,TD3,+/-,RK
0,2017,Stephen Curry,PG,Golden State Warriors,37457154,30,51,41,10,32.0,...,6.1,3.0,1.6,0.2,2.2,43.8,5,0,9.5,1
1,2018,Stephen Curry,PG,Golden State Warriors,37457154,31,69,52,17,33.8,...,5.2,2.8,1.3,0.4,2.4,43.8,3,0,10.0,1
2,2019,Stephen Curry,PG,Golden State Warriors,40231758,31,4,1,3,28.0,...,6.5,3.8,1.3,0.5,2.5,37.5,1,0,-8.0,1
0,2018,LeBron James,SF,Los Angeles Lakers,35654150,34,55,28,27,35.2,...,8.3,3.6,1.3,0.6,1.7,52.0,32,8,2.1,3
1,2019,LeBron James,SF,Los Angeles Lakers,37436858,35,38,32,6,34.9,...,10.7,3.7,1.3,0.5,1.8,52.7,29,9,9.6,7
0,2019,Kawhi Leonard,SF,LA Clippers,32742000,28,30,22,8,32.2,...,5.1,3.4,1.9,0.5,2.0,46.3,8,0,7.7,12

In [42]:
vert_three_stack = pd.concat([vert_two_stack, df4], axis=0)
vert_three_stack

,YEAR,PLAYER,POSITION,TEAM,SALARY,AGE,GP,W,L,MIN,...,AST,TOV,STL,BLK,PF,FP,DD2,TD3,+/-,RK
0,2017,Stephen Curry,PG,Golden State Warriors,37457154,30,51,41,10,32.0,...,6.1,3.0,1.6,0.2,2.2,43.8,5,0,9.5,1
1,2018,Stephen Curry,PG,Golden State Warriors,37457154,31,69,52,17,33.8,...,5.2,2.8,1.3,0.4,2.4,43.8,3,0,10.0,1
2,2019,Stephen Curry,PG,Golden State Warriors,40231758,31,4,1,3,28.0,...,6.5,3.8,1.3,0.5,2.5,37.5,1,0,-8.0,1
0,2018,LeBron James,SF,Los Angeles Lakers,35654150,34,55,28,27,35.2,...,8.3,3.6,1.3,0.6,1.7,52.0,32,8,2.1,3
1,2019,LeBron James,SF,Los Angeles Lakers,37436858,35,38,32,6,34.9,...,10.7,3.7,1.3,0.5,1.8,52.7,29,9,9.6,7
0,2019,Kawhi Leonard,SF,LA Clippers,32742000,28,30,22,8,32.2,...,5.1,3.4,1.9,0.5,2.0,46.3,8,0,7.7,12
0,2018,Harrison Barnes,SF,Sacramento Kings,24107258,27,28,11,17,33.9,...,1.9,1.1,0.6,0.1,1.5,24.7,3,0,0.9,30
1,2019,Harrison Barnes,SF,Sacramento Kings,24147727,27,40,15,25,35.1,...,2.2,1.3,0.7,0.2,1.2,25.3,3,0,-0.7,46

In [43]:
# output to csv with top 4 players of each team
vert_three_stack.to_csv("final_top_df.csv", index=False, header=True)